@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap');
:root {
    --main-color: rgb(66,24,63,1);
    --secondary-color: rgba(81,31,80,1);
    --small-box-color: rgba(247,242,248,1)
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}
.main-container, .first-container, 
.first-container > section, .second-container,
.second-container > section,
.stars-container, .box, .user-section, .user-data {
    display: flex;
    flex-direction: column;
}
.main-container {
    padding: 1.5rem;
}
.first-container{
    padding: 3rem 0;
    height: 600px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.first-container > section {
    align-items: center;
    width: 100%;
    gap: 1rem;
}
.first-container > section h1 {
    font-size: 2rem;
    width: 200px;
    color: var(--main-color);
}
.first-container > section p {
    color: var(--secondary-color);
}
.box {
    width: inherit;
    justify-content: space-between;
    height: 5rem;
    border-radius: 8px;
    padding: 13px;
    background-color: var(--small-box-color);
}
.box > h2 {
    font-size: 0.8rem;
    color: var(--secondary-color);
}
.stars-container {
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.stars-container img {
    width: 1.5rem;
}
.second-container {
    padding-bottom: 3rem;
}
.second-container > section {
    gap: 1rem;
}
.second-container > section > .box {
    height: auto;
    padding: 0 2rem;
    padding-top: 2.5rem;
    padding-bottom: 2rem;
    gap: 1.5rem;
    background-color: var(--secondary-color);
}
.user-section {
    flex-direction: row;
}
.user-section > img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}
.user-data {
    justify-content: space-between;
    padding: 3px 1rem;
}
.user-data, .user-name, .user-comments {
    color: #fff;
}
.user-name, .verified-buyer {
    font-size: 0.8rem;
}
.verified-buyer {
    color: rgba(169, 85, 139, 1);
}
.user-comments {
    font-weight: 300;
    font-size: 0.8rem;
    line-height: 1.3rem;
}
@media (min-width: 1000px) {
    body {
        display: flex;
        justify-content: center;
    }
    .main-container {
        max-width: 1200px;
    }
    .first-container {
        flex-direction: row;
        height: 400px;
    }
    .first-container > section {
        align-items: flex-start;
        height: 300px;
        width: 400px;
        border: 1px solid black;
    }
    .first-container > section h1 {
        text-align: left;
        width: 60%;
    }
    .first-container > section p {
        text-align: left;
    }
}